 <div class="container">
    <form class="form-container" [formGroup]="ytdlForm" id="ytdlForm" (ngSubmit)="onSubmit()">
        <div *ngIf="submit_clicked === false" class="formWrapper">
            <label for="ytaddress">Enter YouTube URL:&nbsp;&nbsp;&nbsp;</label>
            <input id="ytaddress" type="text" name="ytaddress" class="ytaddress" formControlName="ytaddress">
            <button type="submit" class="submit" (click)="downloadVideo()">Video</button>
            <button type="submit" class="submit" (click)="downloadAudio()">Audio</button>
        </div>
        <div *ngIf="submit_clicked === true" class="recaptcha"><div class="container-fluid py-3">
            <form #form="ngForm">
              <div class="row mt-3">
                <div class="col-sm-12 mb-2">
                  <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" [(ngModel)]="recaptchatoken" required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
                  <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
                    <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 mb-2">
                  <button type="button" class="btn btn-sm btn-primary" (click)="send(form)">Send</button>
                </div>
              </div>
            </form>
          </div></div>
    </form>
    <div *ngIf="submit_clicked === true" class="formWrapper">
        <div *ngIf="url === '' && title !== ''">{{title}}</div>
        <div *ngIf="url !== '' && title !== ''" class="url">Right-Click to Download!&nbsp;&nbsp;<a href="{{url}}" target="_blank" rel="noopener">{{title}}</a></div>
        <div *ngIf="url === '' && title === ''">&nbsp;</div>
    </div>
</div>

